<footer class="flex flex-col max-w-screen">
    <section class="px-5 py-10 lg:px-24 w-full bg-cellphones-300 grid grid-cols-12 text-white gap-8">
        <!-- Company Info -->
        <div class="col-span-12 lg:col-span-3">
            <h2 class="mb-3 text-xl lg:text-2xl font-semibold lg:font-bold uppercase tracking-wide">CÔNG TY TNHH
                LAPTOP
            </h2>
            <ul class="ml-5 list-disc text-base leading-relaxed">
                <li class="mb-2">MST: XXXXXX, cấp ngày 08/05/2023, cấp vởi Sở Kế Hoạch Và Đầu Tư TP HCM - Phòng
                    Đăng Ký
                    Kinh Doanh.</li>
                <li class="mb-2">Người đại diện: Nguyễn Ngọc Thiên Tú</li>
                <li class="mb-2">Địa chỉ: Q. Bình Thạnh, TP. Hồ Chí Minh.</li>
                <li class="mb-2">Email:</li>
                <li class="mb-2">Hotline:</li>
            </ul>
        </div>
        <!-- Policies -->
        <div class="col-span-6 lg:col-span-3">
            <h2 class="mb-3 text-xl lg:text-2xl font-semibold lg:font-bold uppercase tracking-wide">CHÍNH SÁCH</h2>
            <ul class="ml-5 list-disc text-base leading-relaxed">
                <li class="mb-2"><a href="" class="hover:underline">Chính sách vận chuyển</a></li>
                <li class="mb-2"><a href="" class="hover:underline">Chính sách đổi trả</a></li>
                <li class="mb-2"><a href="" class="hover:underline">Chính sách bảo mật</a></li>
                <li class="mb-2"><a href="" class="hover:underline">Chính sách bảo hành</a></li>
                <li class="mb-2"><a href="" class="hover:underline">Quy trình kiểm duyệt nội dung</a></li>
            </ul>
        </div>
        <!-- Support -->
        <div class="col-span-6 lg:col-span-3">
            <h2 class="mb-3 text-xl lg:text-2xl font-semibold lg:font-bold uppercase tracking-wide">HỖ TRỢ MUA HÀNG
            </h2>
            <ul class="ml-5 list-disc text-base leading-relaxed">
                <li class="mb-2"><a href="" class="hover:underline">Giới thiệu</a></li>
                <li class="mb-2"><a href="" class="hover:underline">Hướng dẫn mua hàng online</a></li>
                <li class="mb-2"><a href="" class="hover:underline">Hướng dẫn thanh toán</a></li>
                <li class="mb-2"><a href="" class="hover:underline">Mua hàng trả góp</a></li>
                <li class="mb-2"><a href="" class="hover:underline">Khách hàng tin mua</a></li>
            </ul>
        </div>
        <!-- Contact -->
        <div class="col-span-12 lg:col-span-3">
            <h2 class="mb-3 text-xl lg:text-2xl font-semibold lg:font-bold uppercase tracking-wide">LIÊN HỆ</h2>
            <ul class="ml-5 list-disc text-base leading-relaxed">
                <li class="mb-2">Chi nhánh: Showroom</li>
                <li class="mb-2">Địa chỉ: 103/16 Nguyễn Hồng Đào, P. 14, Q. Tân Bình, TP. HCM</li>
                <li class="mb-2">Điện thoại: 08.33.88.77.33</li>
            </ul>
        </div>
    </section>
    <section class="py-20 px-5 lg:px-10 grid grid-cols-12 gap-5">
        <div class="col-span-12 lg:col-span-4 flex justify-center items-center gap-10">
            <a href="">
                <i class="fa-brands fa-facebook text-3xl"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-instagram text-3xl"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-youtube text-3xl"></i>
            </a>
        </div>
        <div class="col-span-12 lg:col-span-4 flex justify-center items-center">
            <p class="text-xl font-semibold">Bản quyền 2024 – © Công ty TNHH LAPTOPS</p>
        </div>
        <div class="col-span-12 lg:col-span-4 flex justify-center items-center gap-10">
            <img src="/asset/images/certificates/bo-cong-thuong-300x114-1.png" alt="" class="h-16 w-32">
            <img src="/asset/images/certificates/DMCA_logo-grn-btn100w-1.png" alt="">
        </div>
    </section>
</footer>