<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LAPTOPSHOP</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <link rel="stylesheet" href="/stylesheets/slider.css" />
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <main class="pt-25 py-30 text-black grid grid-cols-12">
            <!-- Wrapper -->
            <div class="px-2 xl:px-0 col-span-12 col-start-1 xl:col-span-10 xl:col-start-2 flex flex-col gap-5">
                <!-- Slider -->
                <section>
                    <div class="slider">
                        <div class="slides">
                            <% for (let i=0; i < 7; i++) { %>
                                <img src="/asset/images/slider/home-slider<%= i + 1 %>.jpg" class="slide active" />
                                <% } %>
                        </div>

                        <div class="bottom-center">
                            <div class="indicators">
                                <span class="dot active" onclick="showSlide(0)"></span>
                                <span class="dot" onclick="showSlide(1)"></span>
                                <span class="dot" onclick="showSlide(2)"></span>
                                <span class="dot" onclick="showSlide(3)"></span>
                                <span class="dot" onclick="showSlide(4)"></span>
                                <span class="dot" onclick="showSlide(5)"></span>
                                <span class="dot" onclick="showSlide(6)"></span>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Filter -->
                <section class="flex justify-start items-start gap-4">
                    <div class="hidden lg:flex flex-col justify-start items-center gap-4 w-fit">
                        <div class="w-full">
                            <img src="/asset/images/banner/home-banner1.jpg" alt="banner1"
                                class="w-full h-auto object-contain rounded-xl" />
                        </div>
                        <div class="w-full">
                            <img src="/asset/images/banner/home-banner2.jpg" alt="banner2"
                                class="w-full h-auto object-contain rounded-xl" />
                        </div>
                    </div>
                    <div class="flex-1 h-fit flex flex-col">
                        <!-- Categories -->
                        <div class="mb-5 w-full flex flex-col gap-3">
                            <div class="w-full flex justify-center items-center flex-wrap gap-2">
                                <a href="#"
                                    class="px-5 py-2 h-fit bg-gray-100 hover:bg-gray-300 flex items-center gap-1 rounded-xl">
                                    <img src="/asset/images/products_tmp/Group_846.webp" alt="Văn phòng"
                                        class="w-12 h-12 object-contain" />
                                    <span class="font-semibold">Văn phòng</span>
                                </a>
                                <a href="#"
                                    class="px-5 py-2 h-fit bg-gray-100 hover:bg-gray-300 flex items-center gap-1 rounded-xl">
                                    <img src="/asset/images/products_tmp/Group_848_2.webp" alt="Gaming"
                                        class="w-12 h-12 object-contain" />
                                    <span class="font-semibold">Gaming</span>
                                </a>
                                <a href="#"
                                    class="px-5 py-2 h-fit bg-gray-100 hover:bg-gray-300 flex items-center gap-1 rounded-xl">
                                    <img src="/asset/images/products_tmp/image_6__1.webp" alt="Mỏng nhẹ"
                                        class="w-12 h-12 object-contain" />
                                    <span class="font-semibold">Mỏng nhẹ</span>
                                </a>
                                <a href="#"
                                    class="px-5 py-2 h-fit bg-gray-100 hover:bg-gray-300 flex items-center gap-1 rounded-xl">
                                    <img src="/asset/images/products_tmp/image_2__4.webp" alt="Sinh viên"
                                        class="w-12 h-12 object-contain" />
                                    <span class="font-semibold">Sinh viên</span>
                                </a>
                                <a href="#"
                                    class="px-5 py-2 h-fit bg-gray-100 hover:bg-gray-300 flex items-center gap-1 rounded-xl">
                                    <img src="/asset/images/products_tmp/image_4__4.webp" alt="Cảm ứng"
                                        class="w-12 h-12 object-contain" />
                                    <span class="font-semibold">Cảm ứng</span>
                                </a>
                            </div>
                            <div class="w-full flex justify-start items-center flex-wrap gap-4">
                                <a href=""
                                    class="px-3 py-2 border-2 border-gray-300 hover:bg-gray-100 rounded-3xl font-semibold transition-colors duration-200">MacBook</a>
                                <a href=""
                                    class="px-3 py-2 border-2 border-gray-300 hover:bg-gray-100 rounded-3xl font-semibold transition-colors duration-200">ASUS</a>
                                <a href=""
                                    class="px-3 py-2 border-2 border-gray-300 hover:bg-gray-100 rounded-3xl font-semibold transition-colors duration-200">Lenovo</a>
                                <a href=""
                                    class="px-3 py-2 border-2 border-gray-300 hover:bg-gray-100 rounded-3xl font-semibold transition-colors duration-200">MSI</a>
                                <a href=""
                                    class="px-3 py-2 border-2 border-gray-300 hover:bg-gray-100 rounded-3xl font-semibold transition-colors duration-200">Acer</a>
                                <a href=""
                                    class="px-3 py-2 border-2 border-gray-300 hover:bg-gray-100 rounded-3xl font-semibold transition-colors duration-200">HP</a>
                                <a href=""
                                    class="px-3 py-2 border-2 border-gray-300 hover:bg-gray-100 rounded-3xl font-semibold transition-colors duration-200">Dell</a>
                                <a href=""
                                    class="px-3 py-2 border-2 border-gray-300 hover:bg-gray-100 rounded-3xl font-semibold transition-colors duration-200">LG</a>
                                <a href="" class="ml-auto text-blue-500 text-sm">Xem tất cả ></a>
                            </div>
                        </div>

                        <!-- Product items -->
                        <div class="grid grid-cols-12 gap-4">
                            <% for (let i=0; i < 10; i++) { %>
                                <a href="/product-detail/1"
                                    class="group px-2 py-3 min-h-fit w-full col-span-6 md:col-span-4 lg:col-span-3 flex flex-col justify-start items-start gap-2 rounded-xl shadow-[0_4px_24px_0_rgba(0,0,0,0.10),0_1.5px_4px_0_rgba(0,0,0,0.08)] transition-all duration-300">
                                    <div class="mb-5 w-full flex justify-center items-center">
                                        <img src="/asset/images/products/macbook_9__4.webp" alt="products"
                                            class="w-full h-auto object-contain rounded-xl transition-transform duration-300 group-hover:scale-110" />
                                    </div>
                                    <h3
                                        class="mb-1 line-clamp-2 h-9 text-xs leading-normal font-bold text-neutral-900 sm:h-10.5 sm:text-base">
                                        MacBook Pro
                                        14 M4 Pro 12CPU 16GPU 24GB 512GB | Chính hãng Apple Việt Nam
                                    </h3>
                                    <div class="flex justify-start items-center gap-1">
                                        <b class="text-cellphones-600">47.590.000đ</b>
                                        <s class="text-sm text-gray-500 font-semibold">49.900.000đ</s>
                                    </div>
                                    <div class="mt-5 w-full flex justify-between items-center gap-1">
                                        <div class="flex justify-start items-center gap-1">
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                viewBox="0 0 576 512" class="size-4.5 fill-yellow-400" height="1em"
                                                width="1em" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                                </path>
                                            </svg>
                                            <span class="font-bold">4.8</span>
                                        </div>
                                        <span class="text-blue-600">5 lượt đánh giá</span>
                                    </div>
                                </a>
                                <% } %>
                        </div>
                    </div>
                </section>

                <!-- Dell products -->
                <section class="w-full flex flex-col gap-5">
                    <div class="border-b-2 border-cellphones-500 flex">
                        <div class="relative min-w-[200px] max-w-[250px] bg-cellphones-400">
                            <h2 class="py-2 px-4 text-xl md:text-2xl font-bold text-white">LAPTOP DELL</h2>
                        </div>
                        <a href="/product/brand=dell" class="ml-auto text-blue-500">Xem tất cả</a>
                    </div>
                    <!-- Product items -->
                    <div class="grid grid-cols-12 gap-4">
                        <% for (let i=0; i < 4; i++) { %>
                            <a href="/product-detail/1"
                                class="group px-2 py-3 min-h-fit w-full col-span-6 md:col-span-4 lg:col-span-3 flex flex-col justify-start items-start gap-2 rounded-xl shadow-[0_4px_24px_0_rgba(0,0,0,0.10),0_1.5px_4px_0_rgba(0,0,0,0.08)] transition-all duration-300">
                                <div class="mb-5 w-full flex justify-center items-center">
                                    <img src="/asset/images/products/macbook_9__4.webp" alt="products"
                                        class="w-full h-auto object-contain rounded-xl transition-transform duration-300 group-hover:scale-110" />
                                </div>
                                <h3
                                    class="mb-1 line-clamp-2 h-9 text-xs leading-normal font-bold text-neutral-900 sm:h-10.5 sm:text-base">
                                    MacBook Pro
                                    14 M4 Pro 12CPU 16GPU 24GB 512GB | Chính hãng Apple Việt Nam
                                </h3>
                                <div class="flex justify-start items-center gap-1">
                                    <b class="text-cellphones-600">47.590.000đ</b>
                                    <s class="text-sm text-gray-500 font-semibold">49.900.000đ</s>
                                </div>
                                <div class="mt-5 w-full flex justify-between items-center gap-1">
                                    <div class="flex justify-start items-center gap-1">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                            viewBox="0 0 576 512" class="size-4.5 fill-yellow-400" height="1em"
                                            width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg>
                                        <span class="font-bold">4.8</span>
                                    </div>
                                    <span class="text-blue-600">5 lượt đánh giá</span>
                                </div>
                            </a>
                            <% } %>
                    </div>
                </section>

                <!-- Acer products -->
                <section class="w-full flex flex-col gap-5">
                    <div class="border-b-2 border-cellphones-500 flex">
                        <div class="relative min-w-[200px] max-w-[250px] bg-cellphones-400">
                            <h2 class="py-2 px-4 text-xl md:text-2xl font-bold text-white">LAPTOP ACER</h2>
                        </div>
                        <a href="/product/brand=acer" class="ml-auto text-blue-500">Xem tất cả</a>
                    </div>
                    <!-- Product items -->
                    <div class="grid grid-cols-12 gap-4">
                        <% for (let i=0; i < 4; i++) { %>
                            <a href="/product-detail/1"
                                class="group px-2 py-3 min-h-fit w-full col-span-6 md:col-span-4 lg:col-span-3 flex flex-col justify-start items-start gap-2 rounded-xl shadow-[0_4px_24px_0_rgba(0,0,0,0.10),0_1.5px_4px_0_rgba(0,0,0,0.08)] transition-all duration-300">
                                <div class="mb-5 w-full flex justify-center items-center">
                                    <img src="/asset/images/products/macbook_9__4.webp" alt="products"
                                        class="w-full h-auto object-contain rounded-xl transition-transform duration-300 group-hover:scale-110" />
                                </div>
                                <h3
                                    class="mb-1 line-clamp-2 h-9 text-xs leading-normal font-bold text-neutral-900 sm:h-10.5 sm:text-base">
                                    MacBook Pro
                                    14 M4 Pro 12CPU 16GPU 24GB 512GB | Chính hãng Apple Việt Nam
                                </h3>
                                <div class="flex justify-start items-center gap-1">
                                    <b class="text-cellphones-600">47.590.000đ</b>
                                    <s class="text-sm text-gray-500 font-semibold">49.900.000đ</s>
                                </div>
                                <div class="mt-5 w-full flex justify-between items-center gap-1">
                                    <div class="flex justify-start items-center gap-1">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                            viewBox="0 0 576 512" class="size-4.5 fill-yellow-400" height="1em"
                                            width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                            </path>
                                        </svg>
                                        <span class="font-bold">4.8</span>
                                    </div>
                                    <span class="text-blue-600">5 lượt đánh giá</span>
                                </div>
                            </a>
                            <% } %>
                    </div>
                </section>
            </div>
        </main>
        <%- include("./partials/footer.ejs") %>


            <script src="/js/slider.js"></script>
</body>

</html>